page-login {
    ion-content{
        background-image: url("../../assets/imgs/22 Retro Vintage Sofa in Black and White.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
